@model User
@{
    ViewData["Title"] = "_NavBar";
}

@if (Model == null)

{
    <a asp-area="" id="loginRegister" asp-controller="Home" asp-action="Register">Register</a>
    <a asp-area="" id="loginRegister" asp-controller="Home" asp-action="Login">Login</a>
}
else
{
    <a asp-area="" id="loginRegister" asp-controller="Home" asp-action="Logoff">Logout</a>
    <a asp-area="" id="loginRegister" asp-controller="Home" asp-action="Itinerary">Itinerary</a>
    <a id="loginRegister">Welcome!</a>
}
