@model Capstone.Models.Itinerary

@{
    ViewData["Title"] = "CreateItinerary";
}

<h2>CreateItinerary</h2>

<h4>Itinerary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateItinerary" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingLatitude" class="control-label"></label>
                <input asp-for="StartingLatitude" class="form-control" />
                <span asp-validation-for="StartingLatitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingLongitude" class="control-label"></label>
                <input asp-for="StartingLongitude" class="form-control" />
                <span asp-validation-for="StartingLongitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
