@model Itinerary
@{
    ViewData["Title"] = "Itinerary";
}

<h2>Itinerary</h2>

<p>@Model.Name</p>
<p>@Model.ID</p>
<p>@Model.UserEmail</p>

@foreach (Landmark landmark in Model.LandmarksOrderedByVisitOrder)
{
    <div>@landmark.Name</div>
}