
body {
    font-family: 'Roboto', sans-serif;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*padding-top: 500px;*/
}

section {
    margin-bottom: 50px;
}

/*NAVBAR CSS*/

.header {
    background-color: #bb0000;
    padding: 30px;
    text-align: center;
}

#headerText {
    font-size: 62px;
    color: white;
}

#navbar {
    overflow: hidden;
    background-color: #bb0000;
}

    #navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        #navbar a:hover {
            background-color: grey;
            color: white;
        }

#loginRegister {
    float: right !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 60px;
    }

/*MAP CSS*/

#index_distance_search_box {
    width: 50px;
}

#map {
    width: 1000px;
    height: 300px;
}

.index_landmark {
    padding: 20px 40px 40px;
    display: flex;
}

.index_landmark_image {
    margin: 20px 30px 0 0;
    width: 500px;
    object-fit: contain;
    align-self: flex-start;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
}

.index_landmark_text {
    flex: 1 1 auto;
    margin-top: 10px;
}

    .index_landmark_text p {
        font-size: large;
        text-align: justify;
    }

.indexDistanceCalculation {
    display: none;
}

.detail {
    padding: 10px 20px 30px;
    display: flex;
}

#detailImage {
    margin: 10px 30px 30px 0px;
    width: 600px;
    object-fit: contain;
    align-self: flex-start;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
}

#detailRightBox {
    flex: 1 1 auto;
    font-size: large;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

#detailBottomBox {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

#detailDescription {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

#detailMap {
    margin-left: auto;
    margin-right: auto;
}

.list_facts {
    list-style: none;
}

.button {
    background-color: #bb0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.backToList {
    text-decoration: none;
    color: white;
}
