
body {
    font-family: 'Roboto', sans-serif;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.navContainer {
    position: relative;
    min-height: 250px;
    background-color: #bb0000;
    border: 5px solid grey;
}

.navLink {
    position: absolute;
    bottom: 0;
    width: 100%;
}

    .navLink > ul > li {
        display: inline;
        padding: 10px;
    }

        .navLink > ul > li > a {
            font-size: 18px;
            text-decoration: none;
            color: white;
        }


    .navLink > ul {
        padding-left: 5px;
    }

    .navLink > .loginRegister {
        display: inline-block;
        float: right;
    }

    .navLink > .navFun {
        display: inline-block;
        float: left;
    }

.navLogo {
    display: block;
    height: 85%;
    padding: 10px;
}

    .navLogo > a {
        font-size: 36px;
        text-decoration: none;
        color: white;
    }

#index_distance_search_box {
    width: 50px;
}

.index_landmark {
    padding: 20px 40px 40px;
    display: flex;
}

.index_landmark_image {
    margin: 20px 30px 0 0;
    width: 500px;
    object-fit: contain;
    align-self: flex-start;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
}

.index_landmark_text {
    flex: 1 1 auto;
    margin-top: 10px;
}

    .index_landmark_text p {
        font-size: large;
        text-align: justify;
    }

.indexDistanceCalculation {
    display: none;
}

.detail {
    padding: 10px 20px 30px;
    display: flex;
}

#detailImage {
    margin: 10px 30px 30px 0px;
    width: 600px;
    object-fit: contain;
    align-self: flex-start;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
}

#detailRightBox {
    flex: 1 1 auto;
    font-size: large;
    padding-left: 20px;
    padding-bottom: 10px;
}

#map {
    height: 100%;
}
